
@{
    ViewBag.Title = "Inicio";
}<link href="~/Estilo/estilo.css" rel="stylesheet" />

    <style>
        h1 {
            color:red;
        }

        h2 {
            color:#ffffcc;
        }

        h3 {
            color:rgb(0, 255, 255);
        }
    </style>
    <div class="container p-3 my-3 border-0 text-lg-center ">
        <h1>URBAN FITNESS</h1>
        <p class="lead container p-3 my-3 border-0 text-lg-center text-success">INTEGRATE</p>
        <p><a id="Btn-Ready" href="https://asp.net" class="btn btn-primary btn-lg ">SUGERENCIAS &raquo;</a></p>


    </div>

<div class="row">
    <div class="col-md-4">
        <h2  class="container p-3 my-3 border-0 text-sm-center font-weight-bolder    bg-transparent">COMIENZA HOY TU TRANSFORMACION</h2>
        <h3 class="container p-3 my-3 border-0 text-sm-center font-weight-bolder   bg-transparent">
            NO ERES LO QUE LOGRAS ERES LO QUE SUPERAS
        </h3>
       
    </div>
    <div class="col-md-4">
        <h2  class="container p-3 my-3 border-0 text-sm-center font-weight-bolder   bg-transparent">OBTIENES TUS PRIMERAS RUTINAS DEL DIA</h2>
        <h3 class="container p-3 my-3 border-0 text-sm-center font-weight-bolder   bg-transparent">SE TESTIGO DEL GRAN CAMBIO QUE LE HARAS A TU CUERPO.</h3>
    </div>
    <div class="col-md-4">
        <h2 class="container p-3 my-3 border-0 text-sm-center font-weight-bolder   bg-transparent">CAMBIA TU RUTINA</h2>
        <h3 class="container p-3 my-3 border-0 text-sm-center font-weight-bolder   bg-transparent">BALANCEA TU FORMA DE COMER CON NUESTRO NUTRIOLOGO</h3>
       
    </div>
</div>

